@model IEnumerable<FortechTP3A2.Models.SolicitacaoServico>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h3>Suas Solicitações de Serviço</h3>

<p>
    <a asp-action="Create" class="btn btn-success">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalhes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eletronicos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiposServico)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalhes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome) - @Html.DisplayFor(modelItem => item.Usuario.Cpf)
                </td>
                <td>
                    <ul>
                    @foreach (var eletronico in item.Eletronicos)
                    {
                      
                            <li item-checked='false' item-expanded='false'>
                                @eletronico.Nome
                            </li>

                    }
                    </ul>
                </td>
                <td>
                    @foreach (var tipoServico in item.TiposServico)
                    {
                        <ul>
                            <li item-checked='false' item-expanded='false'>
                                @tipoServico.TipoServico.Descricao
                            </li
                        </ul>
                    }
                </td>
                 <td>
                     <span class="badge badge-success">@Html.DisplayFor(modelItem => item.Status)</span
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
